section {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 340px;
    height: 562px;
    padding: 8px;
    overflow: auto;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}