.tabs {
    width: 342px;
    height: 45px;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.tabs button {
    flex: 1;
    background-color: #111111;
    border: none;
    height: 100%;
    color: #6F6F6F;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 30px;
}

.tabs .info {
    border-radius: 8px 0 0;
}

.tabs .preferences {
    border-radius: 0 8px 0 0;
}

.tab-button.active {
    background-color: black;
    color: #F44C80;
}

.tab-content {
    margin-top: 26px;
}

.connection-container {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    gap: 26px;
}

.connection-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.connection-container li {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.connection-container .content-values {
    display: flex;
    justify-content: space-between;
    color: #999999;
    padding: 6px 0;
    width: 60px;
}

.connection-container span {
    justify-content: space-between;
    gap: 22px;
}

.connection-container button {
    border-radius: 24px 24px 24px;
    height: 48px;
    background-color: #111111;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.05em;
    text-align: center;
}

.footer-container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 24px;
}

.footer-container button {
    background-color: #000000;
    border: none;
}


.footer-container span {
    color: #8F8F8F;
}
